.nav-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 3px;
}

@media screen and (max-width: 768px) {
  .icon {
    height: 250px;
    width: 250px;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
}
.icon {
  width: 150px;
  height: 100px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.orders {
  color: black;
}
.countx {
  background-color: orange;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border-style: none;
  color: white;
  text-align: center;
  margin-right: 50px;
}
